.btn{
	.transition(0.2s);
	.border-radius(4px);
	.fh;
	position: relative;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @lightblue;
	&:before{
		.border-radius(6px);
		position: absolute;
		content: '';
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		border: 1px dashed #999;
	}
	&:hover{
		background: darken(@lightblue,10%);
	}
}
