// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Dax CE',sans-serif;} // font header
.fs {font-family: 'Indie Flower',sans-serif;} // font specific
.fi {font-family: 'xart-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@blue: #0b2c6c;
@lightblue: #29a6df;
@green: #8abb07;
@cp: #6c6c6c; // color primary
@cl: @lightblue; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;