@font-face {
    font-family: 'Dax CE';
    src: url('daxce-extrabold-webfont.eot');
    src: url('daxce-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-extrabold-webfont.woff2') format('woff2'),
         url('daxce-extrabold-webfont.woff') format('woff'),
         url('daxce-extrabold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Dax CE';
    src: url('daxce-bold-webfont.eot');
    src: url('daxce-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-bold-webfont.woff2') format('woff2'),
         url('daxce-bold-webfont.woff') format('woff'),
         url('daxce-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Dax CE';
    src: url('daxce-black-webfont.eot');
    src: url('daxce-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-black-webfont.woff2') format('woff2'),
         url('daxce-black-webfont.woff') format('woff'),
         url('daxce-black-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Dax CE';
    src: url('daxce-regular-webfont.eot');
    src: url('daxce-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-regular-webfont.woff2') format('woff2'),
         url('daxce-regular-webfont.woff') format('woff'),
         url('daxce-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dax CE';
    src: url('daxce-medium-webfont.eot');
    src: url('daxce-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-medium-webfont.woff2') format('woff2'),
         url('daxce-medium-webfont.woff') format('woff'),
         url('daxce-medium-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Dax CE';
    src: url('daxce-light-webfont.eot');
    src: url('daxce-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('daxce-light-webfont.woff2') format('woff2'),
         url('daxce-light-webfont.woff') format('woff'),
         url('daxce-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}