@font-face {
  font-family: 'xart-icons';
  src: url('../font/xart-icons.eot?67559869');
  src: url('../font/xart-icons.eot?67559869#iefix') format('embedded-opentype'),
       url('../font/xart-icons.woff?67559869') format('woff'),
       url('../font/xart-icons.ttf?67559869') format('truetype'),
       url('../font/xart-icons.svg?67559869#xart-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'xart-icons';
    src: url('../font/xart-icons.svg?67559869#xart-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "xart-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-right-big:before { content: '\e804'; } /* '' */
.icon-filter:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-list-alt:before { content: '\e808'; } /* '' */
.icon-signal:before { content: '\e809'; } /* '' */
.icon-heart-circled:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-angle-left:before { content: '\e80f'; } /* '' */
.icon-angle-right:before { content: '\e810'; } /* '' */
.icon-angle-up:before { content: '\e811'; } /* '' */
.icon-angle-down:before { content: '\e812'; } /* '' */
.icon-keyboard:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e815'; } /* '' */
.icon-ok-circled:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-linkedin:before { content: '\e81a'; } /* '' */
.icon-export-alt:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-phone:before { content: '\e81d'; } /* '' */
.icon-coffee:before { content: '\e81e'; } /* '' */
.icon-file-pdf:before { content: '\e81f'; } /* '' */
.icon-doc-text:before { content: '\e820'; } /* '' */
.icon-file-word:before { content: '\e821'; } /* '' */
.icon-file-excel:before { content: '\e822'; } /* '' */
.icon-file-powerpoint:before { content: '\e823'; } /* '' */
.icon-file-image:before { content: '\e824'; } /* '' */
.icon-file-video:before { content: '\e825'; } /* '' */
.icon-file-audio:before { content: '\e826'; } /* '' */
.icon-file-archive:before { content: '\e827'; } /* '' */
.icon-brush:before { content: '\e828'; } /* '' */
.icon-database:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-magic:before { content: '\e82b'; } /* '' */
.icon-megaphone:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-chart-bar:before { content: '\e82e'; } /* '' */
.icon-laptop:before { content: '\e82f'; } /* '' */