
.icon-search:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-left-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-right-big:before { content: '\e804'; } /* '' */
.icon-filter:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-list-alt:before { content: '\e808'; } /* '' */
.icon-signal:before { content: '\e809'; } /* '' */
.icon-heart-circled:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-angle-left:before { content: '\e80f'; } /* '' */
.icon-angle-right:before { content: '\e810'; } /* '' */
.icon-angle-up:before { content: '\e811'; } /* '' */
.icon-angle-down:before { content: '\e812'; } /* '' */
.icon-keyboard:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e815'; } /* '' */
.icon-ok-circled:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-linkedin:before { content: '\e81a'; } /* '' */
.icon-export-alt:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-phone:before { content: '\e81d'; } /* '' */
.icon-coffee:before { content: '\e81e'; } /* '' */
.icon-file-pdf:before { content: '\e81f'; } /* '' */
.icon-doc-text:before { content: '\e820'; } /* '' */
.icon-file-word:before { content: '\e821'; } /* '' */
.icon-file-excel:before { content: '\e822'; } /* '' */
.icon-file-powerpoint:before { content: '\e823'; } /* '' */
.icon-file-image:before { content: '\e824'; } /* '' */
.icon-file-video:before { content: '\e825'; } /* '' */
.icon-file-audio:before { content: '\e826'; } /* '' */
.icon-file-archive:before { content: '\e827'; } /* '' */
.icon-brush:before { content: '\e828'; } /* '' */
.icon-database:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-magic:before { content: '\e82b'; } /* '' */
.icon-megaphone:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-chart-bar:before { content: '\e82e'; } /* '' */
.icon-laptop:before { content: '\e82f'; } /* '' */